NGROK_AUTHTOKEN=
NGROK_DOMAIN=

#! If you change these values, make sure to update the corresponding values in the Dockerfile and docker-compose.yml files as well.
# HOST=127.0.0.1
# PORT=8000

# todo finish this